
.same {
  display: flex;
  justify-content: space-between;
  overflow: hidden;

}
.video{
  width: 65%;
  display: flex;
  flex-direction: column;

}
.video-header{
  flex-grow: 0;
  flex-shrink: 0;
}
.also{
  width: 30%;
}
.alsoliked{
  margin: 5% 0;
}
.ingred{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

 