
.like:hover{
    cursor: pointer;
}
.like{
    background-color: bisque;
    width: 350px;
    height: 90px;
    border-radius: 50px;
    display:flex;
    line-break: auto;
    word-break: break-all;
    word-wrap: break-word;
}
.image{
    display:flex;
    line-break: auto;
    word-break: break-all;
    word-wrap: break-word;
    word-break: break-word;
}
.content{

    padding: 30px; 

}